@media screen and (max-width: 479px) {
  .main {
    padding-top: 40pt;
  }
  .footer {
    height: 3rem;
    width: 100%;
    text-align: center;
    line-height: 1.5rem;
    padding-top: 2em;
  }
}
